@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* MAKING VARIABLES & BASICS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    resize: none;
}

:root {
    --color-primary: #fff;
    --color-secondary: #ee86d6;
    --color-tertiary: #777;
    --color-text: #111;
    --shadow: 0 2px 40px 8px rgba(15, 15, 15, .15);
    --transition: all .4s ease-in-out;
    --width-lg: 85%;
    --width-sm: 95%;
}

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'League Spartan', sans-serif;
    color: var(--color-text);
    line-height: 1.7;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    height: .5rem;
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

a {
    color: var(--color-text);
}

span {
    font-size: .9rem;
}

h1, h2, h3, h4 {
    line-height: 1.2;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1rem;
}

.container {
    margin: 0 auto;
    width: var(--width-lg);
}

section {
    padding: 6rem 0 3rem;
}

section h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.title {
    text-align: center;
    margin-bottom: 4rem;
}

.title h2 {
    font-size: 3.5rem;
    font-weight: 400;
    text-transform: capitalize;
    font-family: 'Dancing Script', cursive;
    color: var(--color-secondary);
    display: inline-block;
    position: relative;
}

.title h2::before {
    position: absolute;
    content: '';
    bottom: -21%;
    left: 0;
    transform: translateY(-50%);
    width: 8rem;
    height: .1rem;
    background: var(--color-secondary);
}


/* NAV BAR settings */

nav {
    background: var(--color-text);
    color: var(--color-primary) !important;
}

.logo {
    color: var(--color-primary);
    padding: 1rem 0;
}

.logo div:first-child {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
}

.logo div:first-child span {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1;
    color: var(--color-secondary);
}

.logo div:last-child {
    line-height: 1;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .2rem;
    color: #999;
}




.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .navlist {
    display: flex;
}

nav .navlist li {
    text-transform: uppercase;
    font-size: .9rem;
    cursor: pointer;
    z-index: 111;
}

nav .navlist li a {
    color: var(--color-primary);
    padding: 2rem;
    position: relative;
}

.navlist li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-secondary);
    height: 95%;
    width: 100%;
    border-bottom: .2rem solid var(--color-primary);
    z-index: -1;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
}

.navlist li a:hover::before { 
    height: 95%;
    opacity: 1;
    visibility: visible;

}


.menu-btn .lnr {
    font-size: 1.1rem;
    display: none;
}

.nav-icons {
    display: flex;
    gap: 2rem;
}

.nav-icons .lnr {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav-icons .lnr:hover {
    color: var(--color-secondary);
}

/* ------------ HOME ------------  */

.home {
    padding: 0;
}

.home .slide1 {
    background: url(../images/bg.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.home .slide2 {
    background: url(../images/bg1.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.home .swiper-slide {
    position: relative;
}

.home .swiper-slide .content {
    position: absolute;
    transform: translate(20%, 50%);
    max-width: 550px;
} 

.home h1 {
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: 800;
    color: var(--color-primary);
}

.home .content p {
    margin: 2rem 0 1rem;
    color: #eee;
}

.home .home-search input {
    height: 4rem;
    width: 25rem;
    border-radius: 3rem;
    padding: 1rem 1.6rem;
    padding-left: 1.9rem;
    font-size: 1rem;
}

.home .home-search .btn {
    padding: 1rem 1.6rem;
    height: 4rem;
    width: 4rem;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0 50% 50% 50%;
    position: relative;
    left: -4rem;
    background: var(--color-secondary);
    color: var(--color-primary);
}

.home .home-search .lnr {
    font-size: 1rem;
    font-weight: 700;
}

.home .swiper-button-next.swiper-button-disabled, 
.home .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}

.home .swiper-button-next::after {
    color: var(--color-primary);
    background: var(--color-secondary);
    font-size: 2rem;
    font-weight: 900;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: absolute;
    bottom: -9rem;
    right: -3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .swiper-button-prev::after {
    color: var(--color-primary);
    background: var(--color-secondary);
    font-size: 2rem;
    font-weight: 900;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: absolute;
    bottom: -9rem;
    left: -3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------ ABOUT ------------  */

.about-container .right {
    position: relative;
}

.about-container .right::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: -3rem;
    right: -9rem;
    background: url(images/dots.png) no-repeat;
    z-index: 1;
}

.about-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.about-container .left {
    background: url(images/about.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    z-index: 11;
    position: relative;
}

.about-container .left .content {
    position: absolute;
    top: 33%;
    left: 8.8rem;
    max-width: 19rem;
}

.about-container .title {
    text-align: left;
    margin-bottom: 0;
}

.about-container .title h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
    /* color: var(--color-text); */
}

.about-container .left h2::before {
    top: -1.2rem;
}

.about-container .content p {
    color: var(--color-tertiary);
}

.about-container .btn {
    background: none;
    color: var(--color-secondary);
    font-size: .9rem;
    font-weight: 700;
}

.about-container .right .image {
    position: relative;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: -9rem;
    z-index: 11;
}

.about-container .right .image img {
    border-radius: .5rem;
    max-width: 500px;
    box-shadow: var(--shadow);
}



/* ------------ SERVICES ------------  */


/* ------------ SHOP ------------  */


/* ------------ TESTIMONIAL ------------  */